data types in python
1. different vatype of values assigned to varible
2. basically 3 data types in python
3. int(integer) - numerical values like 1,2,3,4,....n
4. str(string) - charecters examples "abcd" , "ghjk" "qwerty"
5. float(decimals) - numirecal with decimals -10.-25,100.25,125.35...

In [6]:
name="vikas"
age=25
salary=10023.25
data="123"
print(name) 
print(age) 
print(salary) 
print(data) 
print(type(name))
print(type(age))
print(type(salary))
print(type(data))

vikas
25
10023.25
123
<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# concatenation
a=100
b=200
print(a+b)

In [ ]:
n1="python"
n2="programming"
print(n1+n2)

In [8]:
a=100
b="300"
print(a+int(b))

400